<?xml version="1.0"?>
<launch>
    <!--是否使用仿真-->
    <arg name="sim" default="false" />

    <node     if="$(arg sim)" pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find jetauto_navigation)/rviz/navigation_sim.rviz"/>
    <node unless="$(arg sim)" pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find jetauto_navigation)/rviz/navigation.rviz"/>
</launch>
