<launch>
    <arg name="base_frame"              default="base_footprint"/>
    <arg name="costmap_topic"           default="map"/>
    <arg name="costmap_updates_topic"   default="map_updates"/>
    <arg name="map_topic"               default="map"/>
    <arg name="map_save_path"           default="$(find jetauto_slam)/maps/explore"/>
    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <param name="map_topic"             value="$(arg map_topic)"/>
        <param name="map_save_path"         value="$(arg map_save_path)"/>
        <param name="robot_base_frame"      value="$(arg base_frame)"/>
        <param name="costmap_topic"         value="$(arg costmap_topic)"/>
        <param name="costmap_updates_topic" value="$(arg costmap_updates_topic)"/>
        <param name="visualize"             value="true"/>
        <param name="planner_frequency"     value="0.33"/>
        <param name="progress_timeout"      value="30.0"/>
        <param name="potential_scale"       value="3.0"/>
        <param name="orientation_scale"     value="0.0"/>
        <param name="gain_scale"            value="1.0"/>
        <param name="transform_tolerance"   value="0.3"/>
        <param name="min_frontier_size"     value="0.5"/>
    </node>
</launch>
