<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="scan"        default="scan"/>
    <arg name="base_frame"  default="base_footprint"/>
    <arg name="odom_frame"  default="odom"/>
    <arg name="map_frame"   default="map"/>

    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="jetauto_slam_gmapping" output="screen">
        <param name="base_frame"    value="$(arg base_frame)"/>
        <param name="odom_frame"    value="$(arg odom_frame)"/>
        <param name="map_frame"     value="$(arg map_frame)"/>
        <remap from="/scan"         to="$(arg scan)"/>
        <rosparam command="load"    file="$(find jetauto_slam)/config/gmapping_params.yaml" />
    </node>
</launch>
